%header
  {{current_classroom.name}}
  .header-right
    %a.btn-style.btn-4(ng-tap="add_app({{current_classroom.name}})")
      添加应用
.wrapper
  %h3
    My App
    %ul.list-style-2
      %li(ng-repeat="app in current_apps")
        %a(ng-tap="goto_detail_app({{app}})")
          %h3
            {{app.name}}
%footer
  %ul(class="footer-nav")
    %h3
      同学们
      %a.btn-style.btn-4
        添加学生